/***********************
********* MADE FOR https://github.com/alanabarbosa ******
************************/
body, p, h1, ul, li, blockquote{
  margin: 0;
  padding: 0;   
}
body{
  font-family: "Volkorn", Georgia, Serif; 
}
.estrutura{
  display: grid;
  grid-template-columns:  1fr 1fr 2fr;
  grid-template-areas: 
  "header header header header"
  "home home home home"
  "services services services services"
  "about about about about"
  "team team team team"
  "pricing pricing pricing pricing"
  "contact contact contact contact"
  "footer footer footer footer"
  ;
}

/***********************
********* NAVEGATION ******
************************/
#logo {
padding: 0 1rem;
color: #ffb600;
text-decoration: none;
font-size: 1.5em;
}
header {  
position: fixed;
width: 100%;
z-index: 5;
}

header.sticky{
padding: 5px 10px;
background-color: #494D50;
border-bottom: 1px solid(0,0,0.1);
transition: 0.6s;
}

#header {
box-sizing: border-box;
height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
}

#menu {
display: flex;
list-style: none;
gap: 0.5rem;
}

#header ul li a {
position: relative;
display: block;
text-align: center;
margin: 0 25px;
color: #fff;
font-size: 13px;
text-decoration: none;
text-transform: uppercase;
transition: .5s;
padding: 5px 10px;
}

#btn-mobile {
 display: none;
}

@media (max-width: 800px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #000;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    margin: 0;
    padding: 0;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffb600;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #ffb600;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
    color: #9400D3;
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    color: #9400D3;
    top: -7px;
  }
}
/***********************
********* BANNER ******
************************/
#home {  
  grid-area: home;
  height: 700px;
  background: url('../images/banner/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  color:#fff; 
}
#home .titulo{
  direction: grid;
  align-content: center; 
  margin-top: 20%;
  margin-left: 3rem;
}
#home h1{
  color: #fff;
  font-size: 2.0em;
}
#home h1 span{
  color: #ffb600;
}
#home p{
  font-size: 1.5em;
}
#home button{
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px; 
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
#home button:hover{
  background: #ffb600;
  border: none;
}
/***********************
********* SERVICES ******
************************/
#services {
  display: grid;
  grid-area: services; 
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;  
  padding: 50px;
}

.title-services{
  display: grid;  
  justify-content: center;
}
.title-services h2{  
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: #ffb600; 
  display: inline-block;  
}
.title-services p{ 
  text-align: center;
}
#services .card-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;

}
.card{
  margin: 10px;
  border: 3px solid #FFB600;
  padding: 5px;
  border-bottom-right-radius: 20px;  
}
.card-box h3{
  display: grid;
  text-align: center;
  align-self: center;
}
.card-box p{
 text-align: center;
}
.card i{
  background-color: #ffb600;
  color: #fff;
  margin-left: -20px;
  margin-top: -20px;
  padding: 10px;  
  border: 3px solid #fff;  
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
/***********************
********* ABOUT US ******
************************/
#about {
  display: grid;
  background: url('../images/img01.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  grid-area: about;   
}
#about .about-box{
  display: grid;
  grid-template-columns: repeat(2, 400px);
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
#about h2{
  display: grid;
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: #ffb600;
}
.about-box p{
  color: #fff;
  letter-spacing: 2px;
  text-align: justify;
}
.about-box img{
  width: 100%;
  max-width: 400px;
}
.about-box p{
  color: #fff;
  letter-spacing: 2px;
  text-align: justify;
}
/***********************
********* OUT TEAM ******
************************/
#team{
  display: grid;
  grid-area: team; 
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;  
  padding: 50px;
}
#team h2{
  display: grid;
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: #ffb600;
}
#team p{
  text-align: center;
}
.box-team{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin-top: 50px; 
}
.media-team{
  margin: 10px;
  position: relative;
  overflow: hidden;
}
#team img{
  width: 100%;
  transition: all .5s;
}
.caption1{
  position: absolute;
  bottom: 0;
  left: 0;  
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background-color: black;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.5);
  transform: translateY(100%);
}
.caption1 h1{
  text-transform: uppercase;
  margin: 0;
}
.caption1 p{
  font-size: 18px;
  text-transform: capitalize;
}

.media-team:hover .caption1{
  transform: translateY(0);
}
.social-icons{
  display: flex;  
}
.social-icons li{
  list-style: none;
}
.social-icons a{
  margin: 6px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 6px;
}
/***********************
********* pricing******
************************/
#pricing{
  display: grid;
  background: url('../images/img02.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  grid-area: pricing;   
  padding: 50px;
}
#pricing h2{
  display: grid;
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: #ffb600;
}
#pricing p{
  color: #fff;
  text-align: center;
}
.box-pricing{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1040px; 
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;   
}
.media-pricing{
  border: 1px solid #fff;
  background-color: #171B1E;
  padding: 10px;
  margin: 10px;
}
.plan-header{
  background-color: #ffb600;
  border-radius: 20px;
  padding: 10px;
}
.plan-header span{
  display: grid;
  justify-content: center;
  padding: 10px;
}
.plan-header .plan-name{
  display: grid;
  justify-content: center; 
  padding: 10px;
}
.pricing li{
  display: grid;
  color: #fff; 
  text-align: center;
  padding: 10px;
}
.media-pricing a{
   text-decoration: none;
}
.media-pricing button {
  background: #ffb600;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 5px; 
  cursor: pointer;
}
/***********************
********* CONTACT ******
************************/
#contact{
  display: grid;  
  grid-area: contact;   
  padding: 50px;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

#contact h2{
  display: grid;
  font-size: 30px;
  text-align: center;
  align-self: center;
  color: #ffb600;
}
#contact p{
  color: #000;
  text-align: center;
}
.box-contact{
  display: grid;  
  grid-template-columns: 1fr 1fr; 
  background-color: #494D50;
  max-width: 600px;
  padding: 50px;
  margin-top: 50px;
}
.contact-info h3{
  color: #ffb600;
  text-align: center;
}
.contact-info address{
  color: #fff;
  text-align: center;
}
.contact-form{
  display: grid;
}
.contact-form #placeholder::placeholder{
  color: #000;
}
.contact-form input{
  padding:5px 10px;
  margin:3px; 
  width: 100%; 
  border-radius: 5px;
}
.contact-form .message{
  padding: 50px 10px;
  margin: 3px;
}
.contact-form button{
  display: grid;
  background: #ffb600;
  color: #000;
  border-radius: 5px;
  padding: 5px; 
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
/***********************
********* Footer ******
************************/
#footer{
  grid-area: footer;
  background-color: #494D50;
  display: grid;  
}
#footer a{
  text-decoration: none;  
}

.box-footer{  
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.info-copy{
  color: #fff;
}
.footer-icons{
  display: flex;
  justify-content: start; 
  list-style: none; 
}
.footer-icons a{
  margin: 6px;
  color: #fff; 
}

@media (max-width: 800px){
  #home .titulo{
    margin-bottom: 40px;
  }
  #services .card-box{   
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  }
  #about .about-box{
   grid-template-columns: 1fr ; 
  }
  .about-box img{    
    margin-right: auto;
    margin-left: auto;
  }
  .about-box p{
  padding: 20px;
  }
  #team .box-team{
    grid-template-columns: 1fr 1fr; 
  } 
}

@media (max-width: 600px){
  #home .titulo{
    margin-top: 200px;
  }
  #services .card-box{   
  grid-template-columns: 1fr;
  margin-top: 50px;
  }
  #about .about-box{
   grid-template-columns: 1fr; 
  }
  .about-box img{    
    margin-right: auto;
    margin-left: auto;
  }
  .about-box p{
  padding: 20px;
  }
  #pricing .box-pricing{
    grid-template-columns: 1fr; 
  }
  #team .box-team{
    grid-template-columns: 1fr 1fr; 
  }
  #contact .box-contact{
    grid-template-columns: 1fr;   
  }
  #contact .contact-info{
    margin-bottom: 30px;
  }
 
}

@media (max-width: 500px){
  #services .card-box{   
  grid-template-columns: 1fr;
  margin-top: 50px;
  }
  #about .about-box{
   grid-template-columns: 1fr; 
  }
  .about-box img{    
    margin-right: auto;
    margin-left: auto;
  }
  .about-box p{
  padding: 20px;
  }
  #pricing .box-pricing{
    grid-template-columns: 1fr; 
  }
  #team .box-team{
    grid-template-columns: 1fr; 
  }
  #contact .box-contact{
    grid-template-columns: 1fr;
  } 
 
}